body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    
}
.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    height: 400px;
    align-items: center;
    text-align: center;
    bottom: 10%;
}
img{
    width: 120px;
    padding-top: 10%;
}

.button{
    width: 100px; 
    height: 50px; 
    background-color: #ffffff; 
    border: 2px solid #D0B200; 
    color: #D0B200; 
    font-family: 'Poppins', sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    margin-top: 20px;
    transform: translateX(150%);
}